/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
	a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
		margin:0;
		padding:0;
		font-size:100%;
		vertical-align:baseline;
		background:transparent;
		outline:none;
	}
	table {						/* устраняем отступы между ячейками таблицы */
		border-collapse: collapse;
		border-spacing: 0;
	}
	td, td img {
		vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
	}
	input, select, button, textarea {
		margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
		font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
		outline: none;
	}
	input[type="text"], input[type="password"], textarea {
		padding: 0; 				/* убираем внутренние отступы для текстовых полей */
	}
	input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
		vertical-align: bottom;
	}
	input[type="radio"] {
		vertical-align: text-bottom;
	}
	sub {
		vertical-align: sub;
		font-size: smaller;
	}
	sup {
		vertical-align: super;
		font-size: smaller;
	}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display:block;
	}
	ul {
		 list-style:none;
	}
/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
	body {
		color: #2c2c2c;
		background: #fff;
		text-align: left;
		font-size: 13.33px;
		line-height: 21.33px;
		min-height: 100%;
		font-family: 'Open Sans', sans-serif;
	}
	a, a:visited { /* порядок правил для ссылок имеет значение */
		text-decoration: none;
		color: #656363;
	}
	img{
		max-width:100%;
	}
	.centerfix{
		max-width: 1060px;
		margin: 0 auto;
		padding: 0 3.72%;
	}
	.main-menu,
	.footer-menu{
		display: flex;
		justify-content: flex-start;
	}
	main .centerfix{
		display: flex;
		justify-content: space-between;
		padding-top: 40px;
		margin-bottom: 50px;
	}
	aside{
		width: 25%;
	}
	section{
		width: 70%;
	}
/* --------------- базовые настройки ---------*/
.logo{
	margin-top:50px;
	margin-bottom: 35px;
}
.main-menu{
	background-image: linear-gradient(to bottom, #5e5e5e, #444343);
}
		.main-menu a{
			display: block;
			line-height: 29.33px;
			font-size: 14.67px;
			color: #fff;
			padding: 5px 25px;
			margin-right: 34px;
			border-left: 1px solid transparent;
			border-right: 1px solid transparent;
		}
		.main-menu li a:hover{
			background-image: linear-gradient(to bottom, #4a4a4a, #2e2e2e);
			border-left: 1px solid #838383;
			border-right: 1px solid #838383;
		}
.photo{
	border: 1px solid #c8c8c8;
	width: 100%;
	max-width: 100%;
}
.text{
	padding: 12px 20px 12px 25px;
	letter-spacing: -0.2px;
}
.page-menu li{
	color: #656363;
	border: 1px solid #c8c8c8;
	padding: 1px 22px;
	line-height: 37.33px;
}
	.page-menu a:hover{
		color: #2c2c2c;
		padding-left: 35px;
	}
.main-footer{
	display: flex;
	justify-content: space-between;
	background-color: #e1e1e1;
}
.footer-menu li{
	padding: 10px 25px;
	margin-right: 43px;
}
	.footer-menu a{
		color:#2c2c2c;
	}
	.footer-menu a:hover{
		text-decoration: underline;
	}
.copyright{
	padding: 10px 25px;
}
